.header{
display: grid;
justify-content: center;
margin-top:0px;
}
.image{
    display: inline-block;
    border-style:solid;
    width:400px;
    height:500px;
    margin-left:260px;
}
.description{
    display: inline-block;
    border-style:solid;
    width:400px;
    height:500px;
}